<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/63b32ca0-eaa7-46c2-b8ed-f8d1fc074611/resourceGroups/rg-wilfried/providers/Microsoft.ContainerRegistry/registries/ACRCarteCredit</ResourceId>
    <ResourceName>ACRCarteCredit</ResourceName>
    <ResourceGroup>rg-wilfried</ResourceGroup>
    <Subscription>ExamenFinal</Subscription>
    <RegistryUrl>https://acrcartecredit.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c40f6bd7-9b7b-4a29-aeee-8fcaa97d690d</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>